<nav class="container border fixed-bottom bg-light">
    <style type="text/css">
        .nav-link {
            color: gray;
        }
    </style>
    <ul class="nav row vw-100">
        <li class="col nav-item">
            <NavLink href="/" class=" nav-link text-center">
                <i class="bi bi-shield-fill-plus" style="font-size: 1.6rem;"></i>
                <p style="font-size: 0.8rem;">首页</p>
            </NavLink>
        </li>
        <li class="col nav-item">
            <NavLink href="" class="nav-link text-center">
                <i class="bi bi-plus-square-dotted " style="font-size: 1.6rem;"></i>
                <p style="font-size: 0.8rem;">绑定人员码</p>
            </NavLink>
        </li>
        <li class="col nav-item">
            <NavLink href="resualt" class="nav-link text-center">
                <i class="bi bi-file-text" style="font-size: 1.6rem;"></i>
                <p style="font-size: 0.8rem;">核酸结果</p>
            </NavLink>
        </li>
    </ul>
</nav>

@code
{

}
