<nav class="container border fixed-bottom bg-light">
    <style type="text/css">
        .nav-link {
            color: gray;
        }
    </style>
    <ul class="nav row vw-100">
        <li class="col nav-item">
            <NavLink href="@($"/{Name}")" class="nav-link text-center">
                <i class="bi bi-shield-fill-plus" style="font-size: 1.6rem;"></i>
                <p style="font-size: 0.8rem;margin-bottom: 0px;">首页</p>
            </NavLink>
        </li>
        <li class="col nav-item">
            <NavLink href="" class="nav-link text-center">
                <i class="bi bi-plus-square-dotted " style="font-size: 1.6rem;"></i>
                <p style="font-size: 0.8rem;margin-bottom: 0px;">绑定人员码</p>
            </NavLink>
        </li>
        <li class="col nav-item">
            <NavLink href="@($"resualt/{Name}")" class="nav-link text-center">
                <i class="bi bi-file-text" style="font-size: 1.6rem;"></i>
                <p style="font-size: 0.8rem;margin-bottom: 0px;">核酸结果</p>
            </NavLink>
        </li>
    </ul>
</nav>

@code
{
    [Parameter] public string Name {get;set;}= string.Empty;
}
